:root {
  --primeira-cor: #015c92;
  --segunda-cor: #2d82b5;
  --terceira-cor: #53a7d8;
  --quarta-cor: #88cdf6;
  --quinta-cor: #bce6ff;
}

#search-container {
  margin: 1em 0;
  display: flex;
}

.input-box {
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid var(--segunda-cor);
  color: #272d38;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.5s ease-in-out;
  margin-right: 10px;
}

.input-box:focus {
  border-color: var(--primeira-cor);
  outline: none;
}

.lupa {
  width: 70px;
  height: 50px;
}

.lupa img {
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-value {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--segunda-cor);
  transition: color 0.3s;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  color: var(--segunda-cor);
  cursor: pointer;
  border-radius: 25px;
  width: 125px;
}

.button-value:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--segunda-cor);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button-value:hover {
  color: #fff;
}

.button-value:before {
  top: 100%;
  left: 100%;
  transition: all 0.5s;
}

.button-value:hover:before {
  top: -30px;
  left: -30px;
}

.active {
  background-color: var(--segunda-cor);
  color: white;
}

.hide {
  display: none;
}

.arrows {
  position: relative;
  display: flex;
  justify-content: center;
}

.swiper-container {
  overflow: hidden;
  width: 85%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  color: var(--segunda-cor);
  cursor: pointer;
  width: 30px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

@media screen and (max-width: 650px) {
  .swiper-container {
    width: 70%;
  }
}

@media screen and (max-width: 300px) {
  .swiper-container {
    width: 80%;
  }

  .swiper-button-next {
    right: -30px;
  }

  .swiper-button-prev {
    left: -30px;
  }
}