#search-container{
    margin: 1em 0;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #6759ff;
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #fff;
    border-radius: 5px;
    margin-top: 0.5em;
}

.button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
}

.active{
    background-color: #6759ff;
    color: #fff;
}

.hide {
    display: none;
}

.input-wrapper {
    position: relative;
    width: 200px;
    margin: 50px auto;
  }
  
  .input-box {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #08AEEA;
    width: 100%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #08AEEA;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .input-box:focus {
    border-color: #08AEEA;
    outline: none;
  }
  
  .input-box:focus + .underline {
    transform: scaleX(1);
  }
  