:root {
    --primeira-cor: #015c92;
    --segunda-cor: #2d82b5;
    --terceira-cor: #53a7d8;
    --quarta-cor: #88cdf6;
    --quinta-cor: #bce6ff;
}

* {
    text-decoration: none;
    color: #272d38;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.centro {
    padding: 50px 125px;
}

.centro-titulo-opniao {
    font-size: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
    align-items: center;
    gap: 65px;
}

a {
    transition: all 0.5s linear;
    font-size: 20px;
}

a:hover {
    color: var(--primeira-cor);
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.apresentacao {
    display: flex;
    align-items: center;
    height: 550px;
}

.titulo {
    font-size: 54px;
    padding-bottom: 20px;
}

.paragrafo {
    font-size: 20px;
    padding-bottom: 1.2rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    padding: 1.1rem;
    border-radius: 5px;
    background: var(--segunda-cor);
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    z-index: 1;
    color: white;
    font-size: 18px;
}

.button::before {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            var(--primeira-cor) 10.8%,
            var(--segunda-cor) 94.3%);
    transition: all 0.5s;
}

.background {
    position: absolute;
    width: 100%;
    height: 725px;
    background: linear-gradient(to right,
            #e2f1fa,
            var(--quinta-cor),
            var(--terceira-cor));
    z-index: -1;
}

.footer {
    background-color: var(--quinta-cor);
}

.derrubar {
    display: flex;
}

.primeira-derrubada {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.segunda-derrubada {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.footer .direitos {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.lista-footer {
    flex-direction: column;
    align-items: start;
    gap: 0;
}

.titulo-footer {
    font-size: 25px;
    margin: 0 0 20px;
}

.paragrafo-footer {
    margin: 20px 0;
    font-size: 20px;
}

.redes-sociais li a img {
    width: 35px;
    transition: all 0.5s ease;
}

.redes-sociais {
    display: flex;
    gap: 30px;
}

.redes-sociais li a img:hover {
    transform: scale(1.1);
}

.centro-footer {
    padding: 40px 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr) repeat(5, 1fr);
}

.grid-item {
    width: 100%;
}

.texto {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 5;
}

.imagem {
    grid-column: span 7;
}

.imagem img {
    width: 500px;
    height: 500px;
}

.secao-contato {
    background-color: var(--quinta-cor);
    margin: 55px 125px 100px;
    border-radius: 10px;
    padding: 15px;
}

.texto h2 {
    font-size: 45px;
    margin: 0 0 16px;
}

.texto p {
    margin: 0 50px 16px 0;
    font-size: 20px;
    max-width: 630px;
}

body {
    background-color: #e2f1fa;
}

.card {
    width: 300px;
    height: 350px;
    background: var(--quinta-cor);
    border-radius: 32px;
    position: relative;
}

.card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid var(--terceira-cor);
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: var(--terceira-cor);
    top: 80%;
    border-radius: 29px;
    box-shadow: rgba(74, 75, 96, 0.188) 0px 5px 5px 0px inset;
    overflow: hidden;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 210px;
}

.card .bottom .content .name {
    font-size: 1.2rem;
    color: white;
}

.card .bottom .content .about-me {
    display: block;
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
}

.card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1.4rem;
    left: 1.5rem;
    right: 1.5rem;
}

.card:hover .bottom {
    top: 20%;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 6px solid var(--terceira-cor);
    box-shadow: rgba(74, 75, 96, 0.188) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.bottom-bottom p span {
    color: white;
    font-size: 20px;
}

.opinioes {
    width: 1050px;
    display: flex;
    overflow-x: auto;
    cursor: pointer;
}

.opinioes .cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    justify-content: center;
}

.opinioes::-webkit-scrollbar {
    display: none;
}

.opinioes-wrap {
    display: flex;
    align-items: center;
}

#backBtn,
#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
    transition: all 0.5s ease;
}

#backBtn:hover,
#nextBtn:hover {
    transform: scale(1.1);
}

.comentarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin-top: 145px;
    margin-bottom: 100px;
    text-align: center;
    padding: 40px;
}

.margin {
    width: 45%;
    margin: 20px 0;
    font-size: 20px;
}

#btnTopo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primeira-cor);
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}

.svgIcon {
    width: 15px;
    transition-duration: 0.5s;
}

.svgIcon path {
    fill: white;
}

#btnTopo:hover .svgIcon {
    transform: scale(1.1);
}

.cor-do-p {
    color: var(--primeira-cor);
}

.botoes {
    display: flex;
    gap: 30px;
}

.imagem-principal {
    width: 100%;
    display: flex;
    justify-content: end;
}

.imagem-principal img {
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 650px;
}

.button-produto {
    background-color: var(--terceira-cor);
}

.button-produto::before {
    background: linear-gradient(82.3deg,
            var(--segunda-cor) 10.8%,
            var(--terceira-cor) 94.3%);
}
.sobre-nos-img img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
}

  .sobre-nos{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sobre-nos-conteudo{
    width: 60%;
    padding-left: 40px;
  }
  .sobre-nos-conteudo h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

  .sobre-nos-conteudo h3{
    font-size: 45px;
    margin-bottom: 5px;
  }

  .sobre-nos-conteudo p{
    font-size: 20px;
    margin: 15px 0;
  }
  .linha-horizontal {
    border-bottom: 5px solid var(--primeira-cor);
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}
.sobre-nos-img {
    width: 50%;
    display: flex;
    justify-content: start;
    
}
.produtos-slides img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1265px) {
    .opinioes {
        width: 650px;
    }

    .opinioes .cards {
        grid-template-columns: auto auto;
    }

    .opinioes .cards .card:last-child {
        display: none;
    }

    .centro {
        padding: 50px 80px;
    }

    .lista {
        gap: 40px;
    }

    .lista-footer {
        gap: 0;
    }
}

@media screen and (max-width: 1190px) {
    .botoes-contato {
        flex-direction: column;
        gap: 10px;
    }

    .botoes-contato .button {
        width: 100%;
    }

    .secao-contato {
        padding: 40px 40px 40px 0;
    }
}

@media screen and (max-width: 1130px) {
    .secao-contato {
        margin: 100px 50px;
    }
}

@media screen and (max-width: 1095px) {
    .paragrafo {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }

    .button-content {
        font-size: 16px;
    }

    .logo {
        font-size: 25px;
    }

    .titulo {
        font-size: 45px;
    }

    .centro-titulo-opniao {
        font-size: 40px;
    }

    .margin {
        font-size: 16px;
        width: 70%;
    }

    .texto h2 {
        font-size: 40px;
    }

    .texto p {
        font-size: 16px;
    }

    .paragrafo-footer {
        font-size: 16px;
    }

    .footer .direitos {
        font-size: 16px;
    }
    .sobre-nos-conteudo h2{
        font-size: 20px;
    }
    .sobre-nos-conteudo h3{
        font-size: 40px;
    }
    .sobre-nos-conteudo p{
        font-size: 16px;
    }
}

@media screen and (max-width: 1075px) {
    .centro {
        padding: 40px 40px;
    }

    .lista {
        gap: 30px;
    }

    .lista-footer {
        gap: 0;
    }
}

@media screen and (max-width: 970px) {
    .centro-footer {
        padding: 40px 40px;
    }
}

@media screen and (max-width: 940px) {
    .secao-contato {
        margin: 100px 40px;
    }
}

@media screen and (max-width: 930px) {
    .lista {
        gap: 20px;
    }

    .lista-footer {
        gap: 0;
    }
}

@media screen and (max-width: 910px) {
    .imagem img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 895px) {
    .lista {
        gap: 15px;
    }

    .lista-footer {
        gap: 0;
    }

    .titulo {
        font-size: 45px;
    }

    .centro-footer {
        padding: 40px;
    }
}

@media screen and (max-width: 880px) {
    .lista {
        gap: 15px;
    }

    .lista-footer {
        gap: 0;
    }

    .titulo {
        font-size: 45px;
    }

    .header-menu {
        position: absolute;
        right: 0;
        top: 80px;
        max-height: 0;
        overflow: hidden;
    }

    .show-menu {
        min-height: 300px;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2rem 2rem 2rem;
        background-color: var(--quinta-cor);
        border-radius: 10px 0 0 10px;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    .header-menu li a {
        padding: 1rem 3rem;
    }

    input[type="checkbox"] {
        visibility: hidden;
    }

    label.bar {
        position: relative;
        cursor: pointer;
    }

    .bar span {
        position: absolute;
        width: 27px;
        height: 5px;
        background: #272d38;
        border-radius: 100px;
        transition: 0.5s ease;
        left: -15px;
    }

    .bar span.top {
        top: 0;
    }

    .bar span.middle {
        top: 7px;
    }

    .bar span.bottom {
        bottom: 0;
    }

    input[type]:checked~span.top {
        transform: rotate(45deg);
        transform-origin: top left;
        width: 28px;
        bottom: 0;
        top: -6px;
        left: -11px;
    }

    input[type]:checked~span.bottom {
        transform: rotate(-45deg);
        transform-origin: top left;
        width: 28px;
        bottom: 0;
    }

    input[type]:checked~span.middle {
        opacity: 0;
    }
    .sobre-nos-conteudo{
        padding-left: 20px;
    }
}

@media screen and (max-width: 860px) {
    .opinioes {
        width: 300px;
    }

    .opinioes .cards {
        grid-template-columns: auto;
    }

    .opinioes .cards .card:nth-last-child(-n + 2) {
        display: none;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: start;
    }

    .imagem-principal {
        justify-content: center;
    }

    .imagem-principal img {
        width: 350px;
        height: 350px;
    }

    .titulo {
        font-size: 39px;
    }

    .derrubar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primeira-derrubada {
        width: 100%;
        justify-content: space-around;
    }

    .segunda-derrubada {
        display: none;
    }
}
@media screen and (max-width: 845px){
    .sobre-nos-conteudo h3 {
        font-size: 30px;
    }
    .sobre-nos-conteudo h2 {
        font-size: 16px;
    }
}
@media screen and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .secao-contato {
        padding: 40px;
    }

    .imagem-contato {
        display: grid;
        place-items: center;
    }

    .imagem-contato img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .texto p {
        margin-right: 0;
    }

    .sobre-nos{
        flex-direction: column;
    }
    .sobre-nos-conteudo {
        padding-left: 0;
        width: 100%;
    }
    .sobre-nos-conteudo h2{
        font-size: 20px;
    }
    .sobre-nos-conteudo h3{
        font-size: 40px;
    }
    .sobre-nos-img {
        width: 60%;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 520px) {

    #backBtn,
    #nextBtn {
        margin: 0;
    }

    .margin {
        width: 100%;
    }
    .sobre-nos-img {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .secao-contato {
        padding: 0 20px 20px 20px;
        margin: 100px 20px;
    }
}

@media screen and (max-width: 465px) {
    .imagem-principal img {
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .apresentacao-texto {
        width: 100%;
    }

    .titulo {
        font-size: 2rem;
        width: 100%;
    }

    .botoes {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .button {
        width: 100%;
    }

    .show-menu {
        padding: 2rem 1rem;
    }

    .centro-titulo-opniao {
        font-size: 30px;
        text-align: start;
    }

    .margin {
        text-align: start;
    }

    .imagem-contato {
        height: 300px;
    }

    .imagem-contato img {
        height: 300px;
    }

    .texto h2 {
        font-size: 30px;
    }
    .sobre-nos-conteudo h2{
        font-size: 16px;
    }
    .sobre-nos-conteudo h3{
        font-size: 30px;
    }
}

@media screen and (max-width: 430px) {

    #backBtn,
    #nextBtn {
        margin: 0;
    }

    .margin {
        width: 100%;
    }

    .card {
        width: 240px;
        height: 400px;
    }

    .card .bottom .content {
        height: 255px;
    }

    .opinioes .cards {
        padding: 0;
        width: 240px;
    }

    .opinioes {
        gap: 0;
        width: 250px;
    }

    .opinioes-wrap> :first-child {
        display: none;
    }

    .opinioes-wrap> :last-child {
        display: none;
    }

    .comentarios {
        margin-top: 200px;
    }

    .primeira-derrubada {
        flex-direction: column;
    }

    .primeira-derrubada>div:first-child {
        margin-bottom: 40px;
    }

    .card .bottom .bottom-bottom {
        bottom: 1.7rem;
    }
    .sobre-nos-img {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .sobre-nos-img {
        width: 100%;
    }
}
@media screen and (max-width: 290px) {
    .imagem-contato {
        height: 200px;
    }

    .imagem-contato img {
        height: 200px;
    }
}

@media screen and (min-width: 881px) {
    .bar input[type="checkbox"] {
        display: none;
    }
}

.apresentacao-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}

.produto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(25% - 20px); /* Ajuste a largura dos cards para 25% menos o gap */
    box-sizing: border-box;
}

